@import 'variables';
@import 'mixins';

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $spacing-lg;
  width: 100%;
  margin: 0 auto 2rem auto;
  padding: 0;
  max-width: $max-width;

  @include responsive(lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include responsive(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(sm) {
    grid-template-columns: 1fr;
  }
} 